version: '3.5'

services:

  simulation_manager_tests:
    build:
      context: ..
      dockerfile: Dockerfile-tests
    image: simulation_manager_tests:0.1
    container_name: simulation_manager_tests
    restart: "no"
    environment:
      - RABBITMQ_HOST=rabbitmq_manager_tests
      - RABBITMQ_PORT=5672
      - RABBITMQ_SSL=false
      - RABBITMQ_EXCHANGE=procem.simulation_manager_exchange
      - SIMULATION_LOG_LEVEL=50
    networks:
      - manager_test_network

networks:
  manager_test_network:
    name: manager_test_network
